@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,500);

$main-bg-color: #FFFFFC;
$accent-darkBrown: #262322;
$accent-paleGreen: #ACBDBA;


body {
  font-family: 'Raleway', sans-serif;
  background-color: $main-bg-color;
}

.navbar {
  background-color: $accent-darkBrown;
  color: $main-bg-color;
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
  color: $main-bg-color;
  font-size: 15px;
  font-weight: 500;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #ACBDBA;
}
#nav-dropdown {
  background-color: #e7e7e7;
  color: $accent-darkBrown;
}
// DropDown Colors
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: $main-bg-color;
  background-color: $accent-paleGreen;
}
.counter-even-label h4 {
  font-weight: 100;
}
